.a
{
    background-color: chocolate;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 15px;
    border: 3px solid red;
}