ul>li
{
    list-style: none;
    display: inline;
}

ul>li>a
{
    text-decoration: none;
    color: white;
}

li
{
    width: 200px;
    height: 200px;
    background-color: brown;
    color: white;
    text-align: center;
}