#headline{
    color: red;
    background-color: cadetblue;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}